html * {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ded2e8;
  text-align: center;
}

h1 {
  font-size: 50px;
}


h3 {
  font-size: 30px;
}

.box {
  font-size: 20px;
  border-radius: 25px;
  background-color: white;
}

button {
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
}

